**/node_modules/
.DS_Store
target/
bin/
out/
**/lib
**/server
**/*.vsix
.vscode-test/
vscode-java-*.vsix
packages/
dist
**/.settings
**/.classpath
**/.project
**/.checkstyle
test-resources/
**/.gradle
