.vscode/**
.vscode-test/**
out/**
test/**
src/**
**/*.map
jdtls.ext/**
vscode/**
tsconfig.json
gulpfile.js
.gitignore
dist/**/test
webpack.*.js
tslint.json
node_modules
scripts
extension.bundle.ts
javaConfig.json

# Ignore output of code sign
server/*.md
