.vscode/**
.vscode-test/**
out/**
test/**
src/**
**/*.map
jdtls.ext/**
vscode/**
tsconfig.json
scripts/build/**
.gitignore
dist/**/test
webpack.*.js
tslint.json
node_modules
scripts
extension.bundle.ts
javaConfig.json
.github/**
.azure-pipelines/**
images
test-resources

# Ignore output of code sign
server/*.md
