<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
        <delegateCommandHandler class="com.microsoft.jdtls.ext.core.CommandHandler">
            <command id="java.project.refreshLib"/>
            <command id="java.project.list"/>
            <command id="java.getPackageData"/>
            <command id="java.resolvePath" />
            <command id="java.project.getMainClasses" />
            <command id="java.project.generateJar" />
            <command id="java.project.checkImportStatus" />
            <command id="java.project.getImportClassContent" />
            <command id="java.project.getProjectInfo" />
        </delegateCommandHandler>
    </extension>
    <extension
         point="org.eclipse.jdt.ls.core.contentProvider">
      <contentProvider
            class="com.microsoft.jdtls.ext.core.JarFileContentProvider"
            id="jarFileContentProvider"
            priority="10000"
            uriPattern="jdt://jarentry/.*"
            cacheable="true">
      </contentProvider>
   </extension>
</plugin>
